body {
  font-family: sans-serif;
}

#chat {
  height: 500px;
}

#chat-message {
  display: block;
  border: 1px solid gray;
  width: 500px;
  height: 300px;
  min-height: 100px;
}

input#message {
  width: 500px;
}

#chat {
  height: 500px;
  background: cyan;
}

a {
  text-decoration: none;
  font-size: 14px;
  line-height: 100%;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid gray;
}

input#message {
  width: 360px;
  font-size: 14px;
  line-height: 100%;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid gray;
}
