doctype html
html

  head

    meta(charset="utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Private Chat using Node.js and socket.io

    meta(name="description", content="Hello World")

    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

    link(rel="stylesheet", href="assets/styles/main.css", type="text/css")

  body

    .wrapper

      div#nickWrap
        p Enter a username:
        p#nickError
        form#setNick
          input#nickname(size='35')
          input(type='submit')

      h1 Privat Chat Server!
    
      div.messages

      input#messageinput(type="text" placeholder="Enter your message")

    
      a(href="#") Send a Message

      div.users

    script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")

    script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.1.0.js")

    script(type="text/javascript", src="assets/scripts/main.js")