doctype html
html

  head

    meta(charset="utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Private Web Chat

    meta(name="description", content="Hello World")

    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

    link(rel="stylesheet", href="assets/styles/main.css", type="text/css")

  body

    .wrapper
    
      h1 Private Web chat!
      section.section

    .connected

      img#creatorImage(src='../img/unnamed.jpg')

      .infoConnected

        h2 Who are you?

        br

        form.loginForm

          input#yourName(type='text', placeholder='Your nick name')
          br

          input#yourEmail(type='text', placeholder='Your email address')
          br

          input#yourEnter(type='submit', value='ENTER')

      div.messages

      input(type="text")

      a(href="#") Send a Message

    
    

    script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")

    script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.1.0.js")

    script(type="text/javascript", src="assets/scripts/main.js")
